source https://www.nuget.org/api/v2/
framework >= net45

nuget Costura.Fody ~> 1.3.3.0
nuget FontAwesome.WPF ~> 4.5.0
nuget gong-wpf-dragdrop > 0.1.4.3
nuget MahApps.Metro > 1.2.4
nuget MahApps.Metro.SimpleChildWindow ~> 1.3.0
nuget MaterialDesignThemes 1.0.1-beta126
nuget Newtonsoft.Json ~> 8.0
nuget NLog ~> 4.2.3
nuget QuickIO.NET ~> 2.6.2
nuget reactiveui ~> 6.5.0
nuget reactiveui-events ~> 6.5.0
nuget TinyIoC ~> 1.3
nuget xunit ~> 2.1.0
