source https://www.nuget.org/api/v2/
framework >= net45

nuget Costura.Fody
nuget WindowsAPICodePack-Shell
nuget FontAwesome.WPF
nuget gong-wpf-dragdrop
nuget MahApps.Metro prerelease
nuget MahApps.Metro.SimpleChildWindow prerelease
nuget MaterialDesignThemes 1.0.1-beta126
nuget Newtonsoft.Json
nuget NLog
nuget QuickIO.NET
nuget reactiveui 6.5.0
nuget reactiveui-events 6.5.0
nuget TinyIoC
nuget xunit ~> 2.1
