<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime sku=".NETFramework,Version=v4.6.2" version="v4.0"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity culture="neutral" name="System.Reactive.PlatformServices" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect newVersion="2.3.0.0" oldVersion="0.0.0.0-2.3.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
