<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="1.8.0" targetFramework="net40-Client" />
  <package id="gong-wpf-dragdrop" version="0.1.3.4" targetFramework="net40-Client" />
  <package id="MahApps.Metro" version="0.10.1.33-ALPHA" targetFramework="net40-Client" />
  <package id="MahApps.Metro.Resources" version="0.1.0.1" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40-Client" />
  <package id="WPFSpark" version="1.1" targetFramework="net40-Client" />
</packages>