framework: auto-detect
source https://www.nuget.org/api/v2/

nuget Costura.Fody
nuget WindowsAPICodePack-Shell
nuget FontAwesome.WPF
nuget gong-wpf-dragdrop prerelease
nuget MahApps.Metro prerelease
nuget MahApps.Metro.IconPacks
nuget MahApps.Metro.SimpleChildWindow prerelease
nuget MaterialDesignThemes 1.0.1-beta126
nuget Newtonsoft.Json
nuget NLog ~> 4.4
nuget QuickIO.NET
nuget reactiveui ~> 7.2
nuget reactiveui-events ~> 7.2
nuget TinyIoC
nuget xunit ~> 2.2
